In [4]:
import pandas as pd
df = pd.read.csv("/chul/subway_month_utf8.csv",engine="python",encoding="utf-8")
df

AttributeError: module 'pandas' has no attribute 'read'

In [6]:
df.loc[0]

NameError: name 'df' is not defined

In [7]:
small_r=list(range(5))
print(small_r)
print(type(small_r))
subset = df.iloc[:,small_r]
print(subset.head())

[0, 1, 2, 3, 4]
<class 'list'>

NameError: name 'df' is not defined

In [8]:
small_r = list(range[3,6])
small_r

TypeError: 'type' object is not subscriptable

In [9]:
thr_r = list(range(0,6,2))
su = df.iloc[:,thr_r]
su.head()

NameError: name 'df' is not defined

In [10]:
print(df.iloc[[0,99,999],[0,3,5]])

NameError: name 'df' is not defined

In [11]:
df[["노선명","역명"]]

NameError: name 'df' is not defined

In [12]:
print(df.iloc[[0,99,999],[0,3,5]])

NameError: name 'df' is not defined

In [13]:
df[df.승차총승객수 >= 73000]

NameError: name 'df' is not defined

In [14]:
df[(df.노선명=="2호선")&(df.승차총승객수<=500)]

NameError: name 'df' is not defined

In [15]:
df[(df.사용일자="2021년09월03일"),(df.승차객수>=50000)]

SyntaxError: invalid syntax (Temp/ipykernel_6808/300880777.py, line 1)

In [16]:
df[(df.노선명=="천호")&(df.승차총승객수>=16000)]

NameError: name 'df' is not defined

In [17]:
person_dict = {"name":["홍길동"],"contry":["경기"],"age":[31],"job":["student"]}

In [19]:
df1 = pd.DataFrame(persons_dict)
df1

NameError: name 'persons_dict' is not defined

In [20]:
pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
df1 = pd.DataFrame(persons_dict,columns = ["name","job","contry","age"])
df1

NameError: name 'persons_dict' is not defined

In [23]:
import pandas as pd

from collections import orderedDict

persons_dict = orderedDict([])

ImportError: cannot import name 'orderedDict' from 'collections' (C:\ProgramData\Anaconda3\lib\collections\__init__.py)

In [24]:
df = pd.DataFrame(persons_dict)
df

NameError: name 'persons_dict' is not defined

In [26]:
s = pd.Series(["apple","createview"])
s

0         apple
1    createview
dtype: object

In [30]:
d = pd.Series(["banana",42])
d

0    banana
1        42
dtype: object

In [34]:
sic = pd.DataFrame({"persom":["apple"],"who":["Createview"]})
sic

  persom         who
0  apple  Createview

In [36]:
sic = pd.DataFrame({:["a","a2","a3"],"occupation":["ch","st","ct"],"born":["1998-07-01","2000-02-15","2001-02-14"],"died":["2002-08-08","2003-05-14","2004-06-15"],"age":[42,62,53]})
sic

SyntaxError: invalid syntax (Temp/ipykernel_6808/3075784853.py, line 1)

In [38]:
import pandas as pd
persons_dict = {"name":["cho","kim","lee"]."contry":["korea","france","usa"],"age":[31,32,28],"job":["student","teacher","chef"]}

df = pd.DataFrame(data = persons_dict, columns = ["name","contry","age","job"])
df

SyntaxError: invalid syntax (Temp/ipykernel_6808/1096905943.py, line 2)

In [40]:
df.to_csv("persons_01.csv" , sep=",")
df.to_csv("persons_01.csv" , sep="\t")
df.to_csv("persons_01.csv" , sep=" ")

NameError: name 'df' is not defined

In [41]:
names=df["name"]

NameError: name 'df' is not defined

In [42]:
name.to_pickle("a.plc")

NameError: name 'name' is not defined

In [43]:
df_pic = pd.read_pickle()
print(df_pic)

TypeError: read_pickle() missing 1 required positional argument: 'filepath_or_buffer'

In [44]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [45]:
pip install wlwt

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement wlwt (from versions: none)
ERROR: No matching distribution found for wlwt

In [46]:
pip install xlwt

Requirement already satisfied: xlwt in c:\programdata\anaconda3\lib\site-packages (1.3.0)
Note: you may need to restart the kernel to use updated packages.

In [47]:
import pandas as pd
persons_dict = {"name":["cho","kim","lee"]."contry":["korea","france","usa"],"age":[31,32,28],"job":["student","teacher","chef"]}

df = pd.DataFrame(data = persons_dict, columns = ["name","contry","age","job"])
df

SyntaxError: invalid syntax (Temp/ipykernel_6808/1096905943.py, line 2)

In [48]:
import xlwt
df.to.excel("persons_excel.xls")
import openpyxl
df.to_excel("persons_excel.xlsx")

NameError: name 'df' is not defined

In [49]:
df1.drop(df1.index[0],inplace=True)
df1

NameError: name 'df1' is not defined

In [54]:
df.drop(df1.index[[1,3]], inplace=True)
df

NameError: name 'df' is not defined

In [51]:
import pandas as pd
persons_dict = {"name":["cho","kim","lee"]."contry":["korea","france","usa"],"age":[31,32,28],"job":["student","teacher","chef"]}

df = pd.DataFrame(data = persons_dict, columns = ["name","contry","age","job"])
df

SyntaxError: invalid syntax (Temp/ipykernel_6808/1096905943.py, line 2)

In [53]:
df.drop("job",axis=1,inplace=True)
df

NameError: name 'df' is not defined

In [57]:
import pandas as pd

one = [{"name":"john","job":"teacher"},{"name":"nate","job":"student"},{"name":"fred","job":"developer"}]
two = [{"name":"ed","job":"dentist"},{"name":"jack","job":"farmer"},{"name":"ted","job":"designer"}]
three = [{"name":"john","job":"teacher"},{"name":"nate","job":"student"},{"name":"fred","job":"developer"}]
four = [{"name":"john","job":"teacher"},{"name":"nate","job":"student"},{"name":"fred","job":"developer"}]

In [61]:
df3 = pd.DataFrame(one, columns=["name","job"])
df4 = pd.DataFrame(two, columns=["name","job"])

In [59]:
df3

   name       job
0    ed   dentist
1  jack    farmer
2   ted  designer

In [67]:
df4

NameError: name 'df4' is not defined

In [63]:
result = pd.concat([df1,df2])

In [64]:
result

   name        job
0  john    teacher
1  nate    student
2  fred  developer
0    ed    dentist
1  jack     farmer
2   ted   designer

In [66]:
df3

NameError: name 'df3' is not defined